; Таблицы лута. Новая таблица добавляется блоком, пересборка не нужна.
; drop <предмет> <вес> <количество>   nothing <вес пустого броска>   rolls <бросков>

[table marauder]
drop weapon_glock 1 1

[table grunt]
drop ammo_pistol 4 1
drop potion_small 1 1
nothing 3

[table assault]
drop ammo_rifle 4 1
drop potion_small 1 1
nothing 2

[table shield]
drop potion_small 3 1
drop ammo_pistol 2 1
nothing 2

[table heavy]
drop ammo_shell 4 1
drop potion_small 2 1
nothing 2

[table radio]
drop potion_small 3 1
drop ammo_pistol 2 1
nothing 3

[table boss]
rolls 3
drop potion_small 3 1
drop ammo_rifle 2 1
drop ammo_shell 2 1
