; Каталог предметов. Новый предмет добавляется блоком, пересборка не нужна.
; icon: путь x y ширина высота    tint: r g b    effect: вид количество цель

[item potion_small]
name Аптечка
type Consumable
icon Resources/Textures/fx.png 0 224 24 24
scale 1.6
stackable true
maxStack 5
effect Heal 35

[item key_rusty]
name Ржавый ключ
type Key
icon Resources/Textures/items.png 0 0 16 16
scale 2.2
stackable false
maxStack 1
effect Unlock 0 door_exit

[item weapon_deagle]
name Дигл
type Weapon
icon Resources/Textures/weapons_side.png 0 192 112 32
scale 0.5
stackable false
maxStack 1
effect EquipWeapon 0 deagle
