; Каталог предметов. Новый предмет добавляется блоком, пересборка не нужна.
; icon: путь x y ширина высота    tint: r g b    effect: вид количество цель

[item potion_small]
name Аптечка
type Consumable
icon Resources/Textures/fx.png 0 224 24 24
scale 0.8
stackable true
maxStack 5
effect Heal 35

[item key_rusty]
name Ржавый ключ
type Key
icon Resources/Textures/items.png 0 0 16 16
scale 0.7
stackable false
maxStack 1
effect Unlock 0 door_exit

[item weapon_deagle]
name Дигл
type Weapon
icon Resources/Textures/weapons_side.png 0 192 112 32
scale 1
stackable false
maxStack 1
effect EquipWeapon 0 deagle

[item weapon_glock]
name Глок
type Weapon
icon Resources/Textures/weapons_side.png 0 160 112 32
scale 1
stackable false
maxStack 1
effect EquipWeapon 0 glock

[item weapon_ak47]
name АК-47
type Weapon
icon Resources/Textures/weapons_side.png 0 0 112 32
scale 1
stackable false
maxStack 1
effect EquipWeapon 0 ak47

[item weapon_shotgun_pump]
name Помповый дробовик
type Weapon
icon Resources/Textures/weapons_side.png 0 96 112 32
scale 1
stackable false
maxStack 1
effect EquipWeapon 0 shotgun_pump

[item ammo_pistol]
name Пистолетные патроны
type Consumable
icon Resources/Textures/ammo.png 0 0 32 32
scale 0.9
stackable true
maxStack 8
effect AddAmmo 60 pistol

[item ammo_rifle]
name Винтовочные патроны
type Consumable
icon Resources/Textures/ammo.png 32 0 32 32
scale 0.9
stackable true
maxStack 8
effect AddAmmo 90 rifle

[item ammo_shell]
name Дробь
type Consumable
icon Resources/Textures/ammo.png 64 0 32 32
scale 0.9
stackable true
maxStack 8
effect AddAmmo 16 shell

[item ammo_smg]
name Патроны для ПП
type Consumable
icon Resources/Textures/ammo.png 0 0 32 32
tint 150 210 160
scale 0.9
stackable true
maxStack 8
effect AddAmmo 90 smg

[item ammo_rocket]
name Ракеты
type Consumable
icon Resources/Textures/ammo.png 96 0 32 32
scale 0.9
stackable true
maxStack 4
effect AddAmmo 2 rocket

[item armor_plate]
name Бронепластина
type Consumable
icon Resources/Textures/gear.png 0 0 32 32
scale 0.9
stackable true
maxStack 3
effect AddArmor 5

[item key_cell]
name Ключ от камеры
type Key
icon Resources/Textures/items.png 0 0 16 16
scale 0.7
stackable false
maxStack 1
effect Unlock 0 door_cell

[item key_gate]
name Ключ от решётки
type Key
icon Resources/Textures/items.png 0 0 16 16
scale 0.7
stackable false
maxStack 1
effect Unlock 0 door_gate

[item key_shutter]
name Ключ от ставни
type Key
icon Resources/Textures/items.png 0 0 16 16
scale 0.7
stackable false
maxStack 1
effect Unlock 0 door_shutter

[item key_card]
name Карта-ключ
type Key
icon Resources/Textures/items.png 0 0 16 16
scale 0.7
stackable false
maxStack 1
effect Unlock 0 door_console
