[level]
title Арена
boss colossus 3.0 1.8

[legend]
# Wall
. Floor
@ PlayerSpawn
< Entrance
> Exit
g GruntSpawn
a AssaultSpawn
b BossSpawn
p Item:potion_small
k Item:key_rusty

[map]
###############
#.............#
#..g.......g..#
#....#####....#
#....#...#....#
#.<..#.b.#..>.#
#....#...#....#
#....##.##....#
#..p.......k..#
#......a......#
###############
