[level]
title Катакомбы
next arena
tileset catacombs
boss gravedigger 2.8 1.6

[legend]
# Wall
. Floor
< Entrance
> Exit
g GruntSpawn
a AssaultSpawn
s ShieldSpawn
h HeavySpawn
r RadioSpawn
b BossSpawn
p Item:potion_small
k Item:key_rusty
w Item:weapon_deagle
e Item:ammo_shell
x Prop:chest_supply
c Prop:crate_ammo
m Prop:crate_medical
z Prop:crate_armor
1 Watch:top
2 Patrol:top
3 Watch:top
4 Patrol:top
5 Watch:mid
6 Patrol:mid
7 Watch:mid
8 Patrol:mid
f Watch:low
i Patrol:low
j Watch:low
l Patrol:low
u Patrol:watch

[map]
#########################
#.......#...k...#.......#
#.<#.#..#..#p#..#.euw.x.#
#.1....2................#
#..#.#g.#..#.#g.#..a....#
#.4c...3#.......#.......#
####.#######.#######.####
#..z....#....m..#.......#
#.g#.#..#.....r.#..#.h..#
#.........5.b..6........#
#..#..s.#.g...h.#..#.#..#
#.......#.8....7#.......#
####.#######.#######.####
#.......#.......#.......#
#..#....#..#.a..#..#.r..#
#..f......i.............#
#..g.#..#.g..#..#p...#>.#
#..l....#.j.....#.......#
#########################

