[level]
title Катакомбы
next arena
boss gravedigger 2.8 1.6

[legend]
# Wall
. Floor
< Entrance
> Exit
g GruntSpawn
a AssaultSpawn
s ShieldSpawn
h HeavySpawn
r RadioSpawn
b BossSpawn
p Item:potion_small
k Item:key_rusty
w Item:weapon_deagle
e Item:ammo_shell
x Prop:chest_supply

[map]
#########################
#.......#...k...#.......#
#.<#.#..#..#p#..#.e.w.x.#
#.......................#
#..#.#g.#..#.#g.#..a....#
#.......#.......#.......#
####.#######.#######.####
#.......#.......#.......#
#.g#.#..#.....r.#..#.h..#
#...........b...........#
#..#..s.#.g...h.#..#.#..#
#.......#.......#.......#
####.#######.#######.####
#.......#.......#.......#
#..#....#..#.a..#..#.r..#
#.......................#
#..g.#..#.g..#..#p...#>.#
#.......#.......#.......#
#########################
