; Тестовый уровень
; '#' - стена, '.' - пол, '@' - игрок, 'E' - заключённый, 'R' - стрелок
; Пробел означает пустоту: там не будет ни пола, ни стены

###############
#.............#
#..........####
#..........#..#
#.......E..#..#
#..........####
#...........R.#
#..@..........#
#.............#
#....######...#
#.........#...#
#.........#..R#
#.........#...#
#.............#
###############
