[level]
title Городские руины
next catacombs
boss puppeteer 2.5 1.5

[legend]
# Wall
. Floor
@ PlayerSpawn
g GruntSpawn
a AssaultSpawn
s ShieldSpawn
h HeavySpawn
r RadioSpawn
b BossSpawn
> Exit
p Item:potion_small
k Item:key_rusty
w Item:weapon_deagle
c Prop:crate_ammo
v Prop:crate_weapon
m Prop:crate_medical
o Prop:barrel_rusty
x Prop:chest_supply
1 Patrol:west
2 Patrol:west
3 Patrol:west
4 Patrol:west
5 Patrol:centre
6 Patrol:centre
7 Patrol:centre
8 Patrol:centre
e Patrol:south
f Patrol:south
i Patrol:south
j Patrol:south
l Patrol:east
n Patrol:east
q Patrol:east
t Patrol:east
u Patrol:post

[map]
#################################
#.p.....#.w..m..#.......#......r#
#....p..#..###..#..#.#..#.###...#
#..@.c.x#....#..#.......#.#....u#
#.k..o.......#......s.....#...g.#
#..###..#...g#..#.......#.#.###.#
#....v..#.......#..#.#..#....#a.#
#.......#.......#.......#....#..#
####.#######.#######.#######.####
#1.....2#..###..#5.....6#..#....#
#...g...#..#.#..#.g...g.#..#..h.#
#4.....3#..#.#..#8.....7#..#....#
#............#......#...........#
#..###..#..#.#..#.......#..#....#
#..#....#..#.#..#...s...#..#....#
#..#....#..###..#.......#..#....#
####.#######.#######.#######.####
#e.....f#.......#..###..#l.....n#
#..h....#...g...#..#....#.r...a.#
#j.....i#.......#..#....#t.....q#
#...........................g...#
#.###...#..###..#....#..#.......#
#.#..g..#.......#..g.#..#.b...r.#
#.#.....#.......#..###..#......>#
#################################

