; Тестовый уровень: 12 комнат, соединённых проходами
; '#' - стена, '.' - пол, '@' - игрок
; Противники: 'E' - рядовой, 'R' - штурмовик, 'S' - щитовик, 'H' - тяжёлый, 'C' - связист, 'B' - командир
; Пробел означает пустоту: там не будет ни пола, ни стены

#################################
#.......#.......#.......#......C#
#.......#..###..#..#.#..#.###...#
#..@....#....#..#.......#.#.....#
#............#......S.....#...E.#
#..###..#...E#..#.......#.#.###.#
#.......#.......#..#.#..#....#R.#
#.......#.......#.......#....#..#
####.#######.#######.#######.####
#.......#..###..#.......#..#....#
#...E...#..#.#..#.E...E.#..#..H.#
#.......#..#.#..#.......#..#....#
#............#......#...........#
#..###..#..#.#..#.......#..#....#
#..#....#..#.#..#...S...#..#....#
#..#....#..###..#.......#..#....#
####.#######.#######.#######.####
#.......#.......#..###..#.......#
#..H....#...E...#..#....#.C...R.#
#.......#.......#..#....#.......#
#...........................E...#
#.###...#..###..#....#..#.......#
#.#..E..#.......#..E.#..#.B...C.#
#.#.....#.......#..###..#.......#
#################################
