[level]
kind yard
tileset street

[legend]
# Wall
. Floor
m MarauderSpawn
u Prop:bush
i Prop:bin
P Prop:street_paint
Z Zone:backyard
X Prop:car_wreck

[map]
#...............
#Z..............
#.i..........i..
#...............
#..u...P...u....
#..#####.......X
#......#........
#..u...#...u....
#.i....#.m...i..
#...............
#.............Z.
#...............
