[level]
kind far_rise
tileset bridge

[legend]
# Wall
. Floor
a AssaultSpawn
s ShieldSpawn
h HeavySpawn
n Prop:sandbags
o Prop:concrete_block
c Prop:crate_ammo
1 Watch:span
2 Patrol:span

[map]
#              #
o              .
...........    .
......a1...    .
...n     ..    .
....     ......s
....     h......
...n     .......
..c....2........
...........    .
.              o
#              #
