[level]
kind park
tileset street

[legend]
# Wall
. Floor
m MarauderSpawn
u Prop:bush
l Prop:street_lamp

[map]
################
................
...u....u....u..
................
....l......l....
................
................
....l......l....
...u....m....u..
................
................
................
