[level]
kind yard
tileset prison

[legend]
# Wall
. Floor
= Door:door_gate
m MarauderSpawn
g GruntSpawn
T Prop:trap_spikes
z Zone:pen
w WaveSpawn
n Prop:sandbags
o Prop:concrete_block
1 Watch:yard
2 Patrol:yard

[ambush]
pen 2.0 m1 g1

[map]
................
.z..............
...n....n....n..
................
....o..T...o....
................
.....w...w......
....o......o....
...n..m....m.n..
...1........2.z.
###############=
................
