[level]
kind square
tileset street

[legend]
# Wall
. Floor
a AssaultSpawn
h HeavySpawn
l Prop:street_lamp
c Prop:crate_ammo
Z Zone:kiosk
X Prop:car_wreck
o Prop:concrete_block

[map]
.Xo.............
.Z..............
...l........l...
.......####.....
.......#c.#.....
.....h.#..#a....
.......#..#.....
.......##.#.....
...l........l...
................
..............Z.
################
