[level]
kind garage
tileset street

[legend]
# Wall
. Floor
a AssaultSpawn
c Prop:crate_ammo
v Prop:crate_armor

[map]
################
.###############
.#v.........c..#
.#.............#
.#.............#
...............#
.#...a.........#
.#.............#
.#c.........v..#
.#.............#
.###############
...............#
