[level]
kind backlot
tileset street

[legend]
# Wall
. Floor
i Prop:bin
l Prop:street_lamp
z Item:armor_plate

[map]
#...............
#...............
#.i..........i..
#...............
#....######.....
#....#....#.....
#....#.lz.#.....
#....##.###.....
#...............
#.i..........i..
#...............
################
