[level]
kind checkpoint
tileset prison

[legend]
# Wall
. Floor
s ShieldSpawn
a Prop:crate_ammo
n Prop:sandbags
1 Watch:gate
2 Patrol:gate

[map]
................
.#n..........n#.
.#............#.
.#............#.
................
................
.#..a......a..#.
.#....s..s....#.
.#..1......2..#.
.#............#.
.##############.
################
