[level]
kind cafe
tileset street

[legend]
# Wall
. Floor
s ShieldSpawn
G Prop:shop_glass
d Prop:guard_desk
k Item:key_shutter

[map]
................
.##############.
.#d..d...d..d.#.
.#............#.
.G............#.
.....k...s....#.
.G............#.
.G............#.
.#d..d...d..d.#.
.#............#.
.##############.
................
