[level]
kind yard
tileset prison

[legend]
# Wall
. Floor
n Prop:sandbags
o Prop:concrete_block
m MarauderSpawn
1 Watch:yard
2 Patrol:yard

[map]
#######..#######
#..............#
#..n......n....#
#..............#
#....o....o....#
................
................
#....o....o....#
#..n..m...n.m..#
#..1........2..#
#..............#
#######..#######
