[level]
kind boss
tileset prison

[legend]
# Wall
. Floor
o Prop:concrete_block
B BossSpawn
> Exit

[map]
################
#..............#
#..o......o....#
#..............#
#..............#
...............#
...............#
#..............#
#......B.......#
#..............#
#..........>...#
################
