[level]
kind store
tileset prison

[legend]
# Wall
. Floor
m MarauderSpawn
a Prop:crate_ammo
v Prop:crate_armor

[map]
################
.###############
.#a.........a..#
.#.............#
.#.............#
...............#
.#..a..m..v....#
.#.............#
.#.............#
.#a.........a..#
.###############
...............#
