[level]
kind backlot
tileset street

[legend]
# Wall
. Floor
i Prop:bin
l Prop:street_lamp
z Item:armor_plate
F Prop:campfire_cold
Z Zone:shed

[map]
#...............
#Z..............
#.i..........i..
#...............
#....######.....
#....#...F#.....
#....#.lz.#.....
#....##.###.....
#...............
#.i..........i..
#.............Z.
################
