[level]
kind side
tileset prison

[legend]
# Wall
. Floor
a Prop:crate_ammo
v Prop:crate_armor
m MarauderSpawn

[map]
################
#..............#
#..a........a..#
#..............#
#..............#
...............#
...............#
#..............#
#..a...m....v..#
#..............#
#..............#
################
