[level]
kind shop
tileset street

[legend]
# Wall
. Floor
m MarauderSpawn
G Prop:shop_glass
c Prop:crate_ammo
v Prop:crate_armor
Z Zone:aisles

[map]
################
.GZ..........c#.
.G............#.
.G............#.
.....m........#.
.G............#.
.G...........v#.
.G............#.
.#c.........c.#.
.#...........Z#.
.##############.
................
