[level]
kind garage
tileset street

[legend]
# Wall
. Floor
a AssaultSpawn
c Prop:crate_ammo
v Prop:crate_armor
Z Zone:pit

[map]
################
.###############
.#v.........c.Z#
.#.............#
.#.............#
...............#
.#...a.........#
.#.............#
.#c.........v..#
.#Z............#
.###############
...............#
