[level]
kind tenement
tileset street

[legend]
# Wall
. Floor
< Entrance
m MarauderSpawn
c Prop:crate_ammo
p Item:potion_small

[map]
################
#<...........c#.
#.............#.
#..####..####.#.
#..#........#...
#..#...p....#...
#..####..####.#.
#............m#.
#.............#.
#.............#.
######..#######.
#...............
