[level]
kind cafe
tileset street

[legend]
# Wall
. Floor
s ShieldSpawn
G Prop:shop_glass
d Prop:guard_desk
k Item:key_shutter
a AssaultSpawn
T Prop:trap_wire
w WaveSpawn
Z Zone:tables
X Prop:car_wreck
o Prop:concrete_block

[ambush]
tables 1.5 s1 a1

[map]
................
.##############.
X#d..d...d..dZ#.
.#..........w.#.
.G............#.
.T...k...s....#.
.G............#.
.G.w..........#.
.#d..d...d..d.#X
.#Z...........#.
.##############.
.Xo.............
