[level]
kind laundry
tileset prison

[legend]
# Wall
. Floor
g GruntSpawn
m MarauderSpawn
p Item:potion_small
T Prop:trap_wire
+ Door:door_drain
_ Plate:door_drain
z Zone:racks

[map]
#...............
#z..............
#.m..........m..
#...............
#..####..####...
#..#...T....#...
#..#...p..._#...
#..####..####...
#...............
#...........g.z.
###+############
#...............
