[level]
kind barricade
tileset street

[legend]
# Wall
. Floor
s ShieldSpawn
r RadioSpawn
n Prop:sandbags
o Prop:concrete_block
L Switch:door_service@3.0
1 Watch:barricade
2 Patrol:barricade
Z Zone:post

[map]
................
.Z..............
...n....n....n..
................
...o........o...
................
................
...o...s.s..oL..
...n....r....n..
...1........2...
..............Z.
################
