[level]
kind side
tileset prison

[legend]
# Wall
. Floor
m Prop:crate_medical
p Item:potion_small
g GruntSpawn

[map]
#######..#######
#..............#
#.m..........m.#
#..............#
#..#........#..#
#..#............
#..#............
#..#........#..#
#.g.........p..#
#..............#
#..............#
#######..#######
