[level]
kind checkpoint
tileset prison

[legend]
# Wall
. Floor
s ShieldSpawn
a Prop:crate_ammo
n Prop:sandbags
z Zone:gatehouse
1 Watch:gate
2 Patrol:gate

[map]
................
.#n..........n#.
.#z...........#.
.#............#.
................
................
.#..a......a..#.
.#....s..s....#.
.#..1......2..#.
.#...........z#.
.##############.
################
