[level]
kind mess
tileset prison

[legend]
# Wall
. Floor
g GruntSpawn
d Prop:guard_desk

[map]
################
.#d..d..d..d..#.
.#............#.
.#d..d..d..d..#.
.#............#.
................
................
.#d..d..d..d..#.
.#..g......g..#.
.#............#.
.#####..#######.
................
