[level]
kind plaza
tileset street

[legend]
. Floor
a AssaultSpawn
n Prop:sandbags
o Prop:concrete_block
P Prop:street_paint
1 Watch:plaza
2 Patrol:plaza
Z Zone:square

[map]
................
.Z..............
...n....n....n.o
........P.......
....o......o....
o...............
................
....o......o....
...n..a....a.n..
...1........2...
..............Z.
................
