[level]
kind act1_bridge_11
tileset bridge

[legend]
# Wall
. Floor
~ Water
- Line
@ PlayerSpawn
< Entrance
> Exit
c Prop:car_sedan
v Prop:car_van
s Prop:car_small
w Prop:car_wreck
b Prop:road_barrier
o Prop:road_cone
f Prop:fuel_barrel
t Prop:tire_stack
l Prop:oil_slick
k Prop:skid_mark
x Prop:crate_ammo
m Prop:crate_medical
a Prop:crate_armor
g MarauderSpawn
r AssaultSpawn
h ShieldSpawn
e HeavySpawn
d RadioSpawn
* WaveSpawn
E Escape:city_car
R Prop:bridge_rubble
U Prop:bridge_rubble_wide
C Prop:car_sedan@72
V Prop:car_van@104
S Prop:car_small@58
W Prop:car_wreck@84
X Breach

[map]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
################################
......*.~~~~~~~.*r........*.....
......R.~~~~~~~.................
..........~~~...................
......o....R....................
................................
................................
................................
......o...U.....Wr..............
................................
.............U.R................
......*.........*.U.......*.....
################################
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[overlay]
                                
                                
                                
                                
                                
                                
        X     X                 
        XX   XX                 
          X X                   
                                
                                
--------------------------------
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
