[level]
kind workshop
tileset prison

[legend]
# Wall
. Floor
= Door:door_gate
m MarauderSpawn
g GruntSpawn
T Prop:trap_wire
z Zone:bench
w WaveSpawn
l Prop:locker
H Prop:dug_hole
d Prop:guard_desk
G Switch:door_gate@2.5
a Prop:crate_ammo
K Item:key_gate

[ambush]
bench 1.4 m1 g1

[map]
................
.#############..
.#dz........d...
.#.........w....
................
.#..K...m...a...
.#T.............
.#...w.......H..
.#G.........l.z.
.#############..
=###############
................
