[level]
kind east_tower
tileset bridge

[legend]
# Wall
. Floor
< Entrance
m MarauderSpawn
n Prop:sandbags
o Prop:concrete_block
c Prop:crate_ammo
x Prop:crate_medical
1 Watch:span
2 Patrol:span

[map]
 #....         #
 #..c..........o
 #..........2...
 #......n.......
 #..............
 #<........m....
 #..............
 #..............
 #......n...1...
 #..x...........
 #..............
 #....         #
