[level]
kind key
tileset prison

[legend]
# Wall
. Floor
d Prop:guard_desk
l Prop:locker
K Item:key_gate
a Prop:crate_ammo
m MarauderSpawn

[map]
################
#..............#
#..d......d....#
#..............#
#..............#
................
................
#..............#
#..K...m....a..#
#..............#
#..l......l....#
################
