[level]
kind hall
tileset prison

[legend]
# Wall
. Floor
D Door:door_console
L Switch:hatch_exit
h HeavySpawn
r RadioSpawn
o Prop:concrete_block
z Zone:console

[map]
................
.#o..........o#.
.#z...........#.
.#............#.
................
................
.#o....h.....o#.
.##D####......#.
.#L...#.r.....#.
.#....#......z#.
.##############.
################
