[level]
kind cells
tileset prison

[legend]
# Wall
. Floor
@ PlayerSpawn
+ Door:door_cell
g GruntSpawn
b Prop:bunk
S Prop:scratch_tally
l Prop:locker
d Prop:guard_desk
c Prop:crate_weapon
z Zone:block

[map]
################
#z...#....#...#.
#.@..#.b..#.c.#.
#b.S.#.l..#.b.#.
##.###.####+###.
#.............#.
#...............
#...............
#.l.........g.#.
#.d.........lz#.
#######..######.
#...............
