[level]
kind laundry
tileset prison

[legend]
# Wall
. Floor
g GruntSpawn
m MarauderSpawn
p Item:potion_small

[map]
#...............
#...............
#.m..........m..
#...............
#..####..####...
#..#........#...
#..#...p....#...
#..####..####...
#...............
#.g.............
################
#...............
