[level]
kind cell
tileset prison

[legend]
# Wall
. Floor
@ PlayerSpawn
b Prop:bunk
l Prop:locker
d Prop:guard_desk
c Prop:crate_weapon
+ Door:door_cell
g GruntSpawn

[map]
################
#....#....#....#
#.@..#.b..#.c..#
#.b..#.l..#.b..#
##.####.####+###
#...............
#...............
#..............#
#.l..........g.#
#..............#
#.d..........l.#
#######..#######
