[level]
kind yard
tileset prison

[legend]
# Wall
. Floor
= Door:door_gate
m MarauderSpawn
n Prop:sandbags
o Prop:concrete_block
1 Watch:yard
2 Patrol:yard

[map]
................
................
...n....n....n..
................
....o......o....
................
................
....o......o....
...n..m....m.n..
...1........2...
###############=
................
