[level]
kind square
tileset street

[legend]
# Wall
. Floor
a AssaultSpawn
h HeavySpawn
l Prop:street_lamp
c Prop:crate_ammo

[map]
................
................
...l........l...
.......####.....
.......#c.#.....
.....h.#..#a....
.......#..#.....
.......##.#.....
...l........l...
................
................
################
