[level]
kind warehouse
tileset street

[legend]
# Wall
. Floor
s ShieldSpawn
c Prop:crate_ammo
v Prop:crate_armor
w Item:weapon_shotgun_pump

[map]
...............#
.###############
.#c.........c..#
.#.............#
.#.............#
.....w...s.....#
.#.............#
.#.............#
.#c.........v..#
.#.............#
.###############
...............#
