[level]
kind workshop
tileset prison

[legend]
# Wall
. Floor
= Door:door_gate
m MarauderSpawn
l Prop:locker
d Prop:guard_desk
G Switch:door_gate@2.5
a Prop:crate_ammo
K Item:key_gate

[map]
................
.#############..
.#d.........d...
.#..............
................
.#..K...m...a...
.#..............
.#..............
.#G.........l...
.#############..
=###############
................
