[level]
kind hall
tileset prison

[legend]
# Wall
. Floor
h HeavySpawn
r RadioSpawn
o Prop:concrete_block

[map]
................
.#o..........o#.
.#............#.
.#............#.
................
................
.#o....h.....o#.
.#......r.....#.
.#............#.
.#............#.
.##############.
################
