[level]
kind park
tileset street

[legend]
# Wall
. Floor
m MarauderSpawn
u Prop:bush
l Prop:street_lamp
Z Zone:lawn

[map]
################
.Z..............
...u....u....u..
................
....l......l....
................
................
....l......l....
...u....m....u..
................
..............Z.
................
