[level]
kind hall
tileset prison

[legend]
# Wall
. Floor
o Prop:concrete_block
h HeavySpawn
r RadioSpawn

[map]
################
#..............#
#..o......o....#
#..............#
#..............#
................
................
#..............#
#..o...h..o.r..#
#..............#
#..............#
################
