[level]
kind gate
tileset prison

[legend]
# Wall
. Floor
n Prop:sandbags
a Prop:crate_ammo
+ Door:door_gate
s ShieldSpawn
1 Watch:gate
2 Patrol:gate

[map]
#######..#######
#..............#
#..n......n....#
#..............#
#######+########
#...............
#...............
#..............#
#..a...s....a..#
#..1........2..#
#..............#
################
