[level]
kind gate
tileset street

[legend]
# Wall
. Floor
> Exit
+ Door:door_shutter
x Prop:crate_medical
Z Zone:checkpoint

[map]
...............#
.###############
.#Z...........##
.#...x....x...##
.#............##
.+............##
.#.....>......##
.#............##
.#...x....x...##
.#...........Z##
.###############
################
