[level]
kind corridor
tileset prison

[legend]
# Wall
. Floor
g GruntSpawn
1 Watch:lane
2 Patrol:lane

[map]
################
#..............#
#....#....#....#
#..1.#....#.2..#
#....#....#....#
................
................
#....#....#....#
#....#....#....#
#..g.#....#..g.#
#..............#
################
