[level]
kind deep_west
tileset bridge

[legend]
# Wall
. Floor
> Exit
B BossSpawn
n Prop:sandbags
o Prop:concrete_block
v Prop:crate_armor
x Prop:crate_medical
e Item:ammo_rifle
p Item:potion_small
w Item:weapon_ak47

[map]
#         ....# 
o..........x..# 
.....v........# 
...n..........# 
..............# 
...........B..# 
.......e......# 
..............# 
...n.........># 
.....p.....w..# 
..............# 
#         ....# 
