[level]
kind guard_post
tileset prison

[legend]
# Wall
. Floor
g GruntSpawn
d Prop:guard_desk
N Prop:duty_board
k Item:key_cell
1 Watch:post
2 Patrol:post

[map]
################
.#k.N........d#.
.#............#.
.#..d......d..#.
.#............#.
................
................
.#..d......d..#.
.#....g.......#.
.#..1......2..#.
.#####..#######.
................
