[level]
kind drains
tileset prison

[legend]
# Wall
. Floor
b Prop:bunk
x Prop:street_lamp
f Item:weapon_deagle
g GruntSpawn
z Zone:pit
w WaveSpawn

[ambush]
pit 1.6 g2

[map]
#...............
#z..............
#...............
#....######.....
#....#....#.....
#....#.bx.#.....
#....#.f..#.....
#....##.###.....
#.w..........w..
#...............
#.............z.
################
