[level]
kind armoury
tileset prison

[legend]
# Wall
. Floor
s ShieldSpawn
g GruntSpawn
T Prop:trap_spikes
z Zone:racks
x WaveSpawn
l Prop:locker
v Prop:crate_armor
w Item:weapon_ak47
B Prop:fuel_barrel
C Prop:wall_cracked

[ambush]
racks 2.2 g2

[map]
...............#
.###############
.#lz........l..#
.#.........x...#
....T..........#
.#..w...s...v..#
.#.............#
.#...x.........#
.#l.........lz.#
.#####.B########
######CC########
...............#
