[level]
kind plaza
tileset street

[legend]
. Floor
a AssaultSpawn
n Prop:sandbags
o Prop:concrete_block
1 Watch:plaza
2 Patrol:plaza
Z Zone:square

[map]
................
.Z..............
...n....n....n..
................
....o......o....
................
................
....o......o....
...n..a....a.n..
...1........2...
..............Z.
................
