[level]
kind guard
tileset prison

[legend]
# Wall
. Floor
d Prop:guard_desk
l Prop:locker
k Item:key_cell
g GruntSpawn
1 Watch:post
2 Patrol:post

[map]
################
#..d......d....#
#..............#
#...l....l.....#
#..............#
................
................
#..............#
#.k..........g.#
#..............#
#..d..1....2d..#
#######..#######
