[level]
kind mess
tileset prison

[legend]
# Wall
. Floor
g GruntSpawn
d Prop:guard_desk
z Zone:tables

[map]
################
.#d..d..d..d..#.
.#z...........#.
.#d..d..d..d..#.
.#............#.
................
................
.#d..d..d..d..#.
.#..g......g..#.
.#...........z#.
.#####..#######.
................
