[level]
kind gate
tileset street

[legend]
# Wall
. Floor
> Exit
+ Door:door_shutter
x Prop:crate_medical

[map]
...............#
.###############
.#............##
.#...x....x...##
.#............##
.+............##
.#.....>......##
.#............##
.#...x....x...##
.#............##
.###############
################
