[level]
kind store
tileset prison

[legend]
# Wall
. Floor
m MarauderSpawn
a Prop:crate_ammo
P Prop:puppet_doll
z Zone:shelves
v Prop:crate_armor

[map]
################
.###############
.#a.........a..#
.#.........P...#
.#z............#
...............#
.#..a..m..v....#
.#.............#
.#..........z..#
.#a.........a..#
.###############
...............#
