[level]
kind armoury
tileset prison

[legend]
# Wall
. Floor
s ShieldSpawn
l Prop:locker
v Prop:crate_armor
w Item:weapon_ak47
B Prop:fuel_barrel
C Prop:wall_cracked

[map]
...............#
.###############
.#l.........l..#
.#.............#
...............#
.#..w...s...v..#
.#.............#
.#.............#
.#l.........l..#
.######B########
#######C########
...............#
