[level]
kind side
tileset prison

[legend]
# Wall
. Floor
b Prop:bunk
x Prop:street_lamp
f Item:weapon_deagle

[map]
#######..#######
#..............#
#..............#
#....######....#
#....#....#....#
#....#.bx.#....#
#....#.f..#....#
#....##.###....#
#..............#
#..............#
#..............#
################
