[level]
kind side
tileset prison

[legend]
# Wall
. Floor
l Prop:locker
r Item:weapon_ak47
v Prop:crate_armor
s ShieldSpawn

[map]
################
#..............#
#..l......l....#
#..............#
#..............#
...............#
...............#
#..............#
#..r...s....v..#
#..............#
#..............#
################
