[level]
kind boss
tileset prison

[legend]
# Wall
. Floor
> Exit
B BossSpawn
o Prop:concrete_block

[map]
...............#
.###############
.#o.........o..#
.#.............#
.#.............#
...............#
.#.....B.......#
.#.............#
.#.........>...#
.#o.........o..#
.###############
################
