[level]
kind east_span
tileset bridge

[legend]
# Wall
. Floor
a AssaultSpawn
s ShieldSpawn
r RadioSpawn
n Prop:sandbags
o Prop:concrete_block
c Prop:crate_ammo
e Item:ammo_rifle

[map]
#              #
.              .
...........    .
......a..c.    .
...n     .......
s...     ......r
....     .......
...n     .......
.........e.    .
...........    .
o              o
#              #
