[level]
kind cells
tileset prison

[legend]
# Wall
. Floor
@ PlayerSpawn
+ Door:door_cell
g GruntSpawn
b Prop:bunk
l Prop:locker
d Prop:guard_desk
c Prop:crate_weapon

[map]
################
#....#....#...#.
#.@..#.b..#.c.#.
#b...#.l..#.b.#.
##.###.####+###.
#.............#.
#...............
#...............
#.l.........g.#.
#.d.........l.#.
#######..######.
#...............
