[level]
kind boss
tileset prison

[legend]
# Wall
. Floor
H Hatch:hatch_exit
B BossSpawn
o Prop:concrete_block

[map]
...............#
.###############
.#o.........o..#
.#.............#
.#.............#
...............#
.#.....B.......#
.#.............#
.#.........H...#
.#o.........o..#
.###############
################
