; Каталог реплик. Новая реплика добавляется блоком, пересборка не нужна.
; speaker: кто говорит, это имя видно в субтитре. text: что сказано.
; sound: ключ звука в Resources/Audio/Voice - без пути и расширения.
;
; [set <ключ>] - список реплик на один повод, из него выбирают по случаю.

[line guard_spotted_1]
speaker Охранник
text Вот ты где!
sound voice_guard_1

[line guard_spotted_2]
speaker Охранник
text Вижу его!
sound voice_guard_2

[line guard_spotted_3]
speaker Охранник
text А ну стой!
sound voice_guard_3

[line heavy_spotted_1]
speaker Тяжёлый
text Стоять!
sound voice_heavy_1

[line heavy_spotted_2]
speaker Тяжёлый
text Попался!
sound voice_heavy_2

[line heavy_spotted_3]
speaker Тяжёлый
text Взять его!
sound voice_heavy_3

[line radio_spotted_1]
speaker Радист
text Тревога!
sound voice_radio_1

[line radio_spotted_2]
speaker Радист
text Чужой на базе!
sound voice_radio_2

[line radio_spotted_3]
speaker Радист
text Сюда, быстро!
sound voice_radio_3

[set guard_spotted]
line guard_spotted_1
line guard_spotted_2
line guard_spotted_3

[set heavy_spotted]
line heavy_spotted_1
line heavy_spotted_2
line heavy_spotted_3

[set radio_spotted]
line radio_spotted_1
line radio_spotted_2
line radio_spotted_3
