[act]
title Мост
next city
tileset bridge
music march
boss colossus 2.6 1.6

[library]
west_rise Resources/Rooms/act1_bridge_west_rise.config
west_span Resources/Rooms/act1_bridge_west_span.config
mid_tower Resources/Rooms/act1_bridge_mid_tower.config
mid_span Resources/Rooms/act1_bridge_mid_span.config
east_tower Resources/Rooms/act1_bridge_east_tower.config
east_span Resources/Rooms/act1_bridge_east_span.config
far_rise Resources/Rooms/act1_bridge_far_rise.config
deep_west Resources/Rooms/act1_bridge_deep_west.config
deep_mid Resources/Rooms/act1_bridge_deep_mid.config
deep_east Resources/Rooms/act1_bridge_deep_east.config
sky_west Resources/Rooms/act1_bridge_sky_west.config
sky_east Resources/Rooms/act1_bridge_sky_east.config

[rooms]
west_rise 0 0
west_span 16 0
mid_tower 32 0
mid_span 48 0
east_tower 0 12
east_span 16 12
far_rise 32 12
deep_west 48 12
deep_mid 0 24
deep_east 16 24
sky_west 32 24
sky_east 48 24
