[act]
title Улица
next bridge
tileset street
music march

[library]
tenement Resources/Rooms/act1_street_tenement.config
shop Resources/Rooms/act1_street_shop.config
park Resources/Rooms/act1_street_park.config
garage Resources/Rooms/act1_street_garage.config
yard Resources/Rooms/act1_street_yard.config
plaza Resources/Rooms/act1_street_plaza.config
cafe Resources/Rooms/act1_street_cafe.config
warehouse Resources/Rooms/act1_street_warehouse.config
backlot Resources/Rooms/act1_street_backlot.config
barricade Resources/Rooms/act1_street_barricade.config
square Resources/Rooms/act1_street_square.config
gate Resources/Rooms/act1_street_gate.config

[rooms]
tenement 0 0
shop 16 0
park 32 0
garage 48 0
yard 0 12
plaza 16 12
cafe 32 12
warehouse 48 12
backlot 0 24
barricade 16 24
square 32 24
gate 48 24
