[act]
title Тюрьма
next city
tileset prison
music march
boss puppeteer 2.0 1.2

[library]
cells Resources/Rooms/act1_cells.config
guard_post Resources/Rooms/act1_guard_post.config
corridor Resources/Rooms/act1_corridor.config
store Resources/Rooms/act1_store.config
laundry Resources/Rooms/act1_laundry.config
yard Resources/Rooms/act1_yard.config
workshop Resources/Rooms/act1_workshop.config
armoury Resources/Rooms/act1_armoury.config
drains Resources/Rooms/act1_drains.config
checkpoint Resources/Rooms/act1_checkpoint.config
hall Resources/Rooms/act1_hall.config
boss Resources/Rooms/act1_boss.config

[rooms]
cells 0 0
guard_post 16 0
corridor 32 0
store 48 0
laundry 0 12
yard 16 12
workshop 32 12
armoury 48 12
drains 0 24
checkpoint 16 24
hall 32 24
boss 48 24
