[act]
title Мост
next street
tileset bridge
music march

[library]
act1_bridge_01 Resources/Rooms/act1_bridge_01.config
act1_bridge_02 Resources/Rooms/act1_bridge_02.config
act1_bridge_03 Resources/Rooms/act1_bridge_03.config
act1_bridge_04 Resources/Rooms/act1_bridge_04.config
act1_bridge_05 Resources/Rooms/act1_bridge_05.config
act1_bridge_06 Resources/Rooms/act1_bridge_06.config
act1_bridge_07 Resources/Rooms/act1_bridge_07.config
act1_bridge_08 Resources/Rooms/act1_bridge_08.config
act1_bridge_09 Resources/Rooms/act1_bridge_09.config
act1_bridge_10 Resources/Rooms/act1_bridge_10.config
act1_bridge_11 Resources/Rooms/act1_bridge_11.config
act1_bridge_12 Resources/Rooms/act1_bridge_12.config
act1_bridge_13 Resources/Rooms/act1_bridge_13.config
act1_bridge_14 Resources/Rooms/act1_bridge_14.config
act1_bridge_15 Resources/Rooms/act1_bridge_15.config
act1_bridge_16 Resources/Rooms/act1_bridge_16.config
act1_bridge_17 Resources/Rooms/act1_bridge_17.config
act1_bridge_18 Resources/Rooms/act1_bridge_18.config
act1_bridge_19 Resources/Rooms/act1_bridge_19.config
act1_bridge_20 Resources/Rooms/act1_bridge_20.config
act1_bridge_21 Resources/Rooms/act1_bridge_21.config
act1_bridge_22 Resources/Rooms/act1_bridge_22.config

[waves]
; wave <пауза> <символ врага><сколько>
; Мост в 704 клетки: волна нагоняет игрока каждые полсотни клеток пути.
wave 3 m2 g2
wave 4 m3 a1
wave 5 a2 g3
wave 5 m2 a2 s1
wave 6 a3 s1
wave 6 m3 a2
wave 6 a2 s2 h1
wave 7 m3 a2 r1
wave 7 a3 h1 s1
wave 8 a2 s2 h2
wave 8 a3 s1 h1 r1
wave 9 a3 s2 h2 r1

[rooms]
act1_bridge_01 0 0
act1_bridge_02 32 0
act1_bridge_03 64 0
act1_bridge_04 96 0
act1_bridge_05 128 0
act1_bridge_06 160 0
act1_bridge_07 192 0
act1_bridge_08 224 0
act1_bridge_09 256 0
act1_bridge_10 288 0
act1_bridge_11 320 0
act1_bridge_12 352 0
act1_bridge_13 384 0
act1_bridge_14 416 0
act1_bridge_15 448 0
act1_bridge_16 480 0
act1_bridge_17 512 0
act1_bridge_18 544 0
act1_bridge_19 576 0
act1_bridge_20 608 0
act1_bridge_21 640 0
act1_bridge_22 672 0
